<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="airportinfo" content="width=device-width, initial-scale=1.0">
        <title>Airport Information</title>
    </head>

    <body>
        <header>
            <h1>Airport Information Page</h1>
            <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('metar') }}">METAR</a></li>
        </ul>
    </nav>
        </header>
    </body>





</html>