<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="Aviation Dashboard" content="width=device-width, initial-scale=1.0">
        <title>Aviation Dashboard</title>
    </head>

    <body>
        <header>
            <h1>Aviation Dashboard</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('metar') }}">METAR</a></li>
                    <li><a href="{{ url_for('airportInfo') }}">Airport Information</a></li>
                </ul>
            </nav>
        </header>
    </body>





</html>