<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cyborg/bootstrap.min.css" rel="stylesheet">
        <title>Aviation Dashboard</title>
    </head>
<div class="container mt-5" style="max-width: 600px;">
    <body>
        <header>
            <h1>Aviation Dashboard</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('metar') }}">METAR</a></li>
                    <li><a href="{{ url_for('airportInfo') }}">Airport Information</a></li>
                </ul>
            </nav>
        </header>
    </body>
</div>
    





</html>